@model Animal

<tr>
    @*<td>@Model.AnimalId</td>*@
    <td>@Model.AnimalNome</td>
    <td>@Model.AnimalTipo</td>
    <td>@Model.AnimalRaca</td>
    <td>@Model.AnimalDataDeNascimento</td>
    <td>@Model.Alergico</td>
    @*<td>
        <a class="btn btn-success" id="cartButton" asp-controller="Home" asp-action="Delete"
           asp-route-id="@Model.FormularioId">
            Excluir
        </a>
    </td>
    <td>
        <a asp-controller="Editar" asp-action="Edit" asp-route-id="@Model.FormularioId">Editar</a>
    </td>*@
</tr>
