@model Animal

@functions {
    public string GetDateLocal()
    {
        if(Model.AnimalDataDeNascimento != null)
        {
            var date = Model.AnimalDataDeNascimento;
            DateTime convertedDate = Convert.ToDateTime(date);
            return convertedDate.ToShortDateString();
        }
        else
        return "";
    }
}

<tr class="text-center">
    <td>@Model.AnimalNome</td>
    <td>@Model.AnimalTipo</td>
    <td>@Model.AnimalRaca</td>
    <td>@GetDateLocal()</td>
    @if (Model.Alergico == null)
    {
        <td><i>Não especificado</i></td>
    }
    else
    {
        <td>@Model.Alergico</td>
    }
    @*<td>
            <a class="btn btn-success" asp-controller="Home" asp-action="Delete"
               asp-route-id="@Model.FormularioId">
                Excluir
            </a>
        </td>
        <td>
            <a asp-controller="Editar" asp-action="Edit" asp-route-id="@Model.FormularioId">Editar</a>
        </td>*@
</tr>
