@model Consulta

@functions {
    public string Modal()
    {
        var modal = $"modalId{@Model.ConsultaId.ToString()}";;
        return modal;
    }

    public string GetDateLocal()
    {
        var date = Model.DataConsulta;
        DateTime convertedDate = Convert.ToDateTime(date);
        return convertedDate.ToLongDateString();
    }
}

<tr class="text-center">
    <td>@Model.Animal.AnimalNome</td>
    <td>@Model.Veterinario.VetNome - @Model.Veterinario.VetFuncao</td>
    <td>@GetDateLocal()</td>
    <td>@Model.HorarioConsulta</td>
    <td>@Model.DescricaoDoProblema</td>
    @if (Model.Diagnostico == null)
    {
        <td>...</td>
    }
    else
    {
        <td>@Model.Diagnostico</td>
    }
    @if (Model.ValorConsulta == null)
    {
        <td>...</td>
    }
    else
    {
      <td>@Model.ValorConsulta</td>
    }
    @if (Model.IsVerificado == false)
    {
        <td>Não</td>
    }
    else
    {
        <td>Sim</td>
    }
    @if (Model.IsConcluido == false)
    {
        <td>Não</td>
    }
    else
    {
        <td>Sim</td>
    }
    @if (Model.IsVerificado == false)
    {
        <td>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#@Modal()">
                <i class="fa fa-eraser"></i>
            </button>
        </td>
    }
    else
    {
        <td>
            <button type="button" class="btn btn-outline-danger disabled" disabled>
                <i class="fa fa-eraser"></i>
            </button>
        </td>
    }

    @*<td>
            <a class="btn btn-success" asp-controller="Consulta" asp-action="Editar"
               asp-route-idConsulta="@Model.ConsultaId">
                Editar problema
            </a>
        </td>*@
</tr>

<div class="modal fade" id="@Modal()" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="lead">Tem certeza que deseja excluir essa requisição de consulta?</p>
                Veterinário: @Model.Veterinario.VetNome<br />
                Data: @GetDateLocal()<br />
                Horário: @Model.HorarioConsulta
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Voltar</button>
                <a class="btn btn-outline-success" asp-controller="Consultas" asp-action="Delete"
                   asp-route-idConsulta="@Model.ConsultaId">
                    Excluir
                </a>
            </div>
        </div>
    </div>
</div>