@model FormularioViewModel

@functions {
public string GetDateLocal()
{
    var date = Model.DataConsulta;
    DateTime convertedDate = Convert.ToDateTime(date);
    return convertedDate.ToLongDateString();
}
}

<div class="text-center">
    <div class="pt-md-2 pb-md-2 mx-auto">
        <h1 class="display-4">Horários disponíveis</h1>
    </div>
    <div class="lead">
        Preecha o formulário abaixo para marcar sua consulta
    </div>
</div>

<hr />

<div class="text-center">
    @if (TempData["Erro"] != null)
    {<p class="alert alert-success" id="successMessage">@TempData["Erro"]</p>}
    <p>
        Veterinário: @Model.Veterinario.VetNome - @Model.Veterinario.VetFuncao<br />
        Data: @GetDateLocal()
    </p>
</div>


<div class="row loginForm">
    <div class="col-sm-6 offset-sm-3 text-center">
        <form asp-controller="Consulta" asp-action="Formulario" onsubmit="button.disabled = true; return true;">
            <input asp-for="DataConsulta" type="hidden" />
            <input asp-for="VeterinarioId" type="hidden" />
            <div class="form-group">
                <label>Horário (Formato 24 horas)</label>
                <div class="col-sm-4 col-centered">
                    <select asp-for="HorarioEscolhido" class="form-control">
                        @foreach (String horario in Model.HorariosFiltrados)
                        {
                            <option label="@horario">@horario</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Selecione o seu animal</label>
                <div class="col-sm-4 col-centered">
                    <select asp-for="AnimalId" class="form-control">
                        @foreach (Animal animal in Model.Animais)
                        {
                            <option label="@animal.AnimalNome">@animal.AnimalId</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Descreva o problema</label>
                <textarea asp-for="DescricaoDoProblema" class="form-control text-center" placeholder="Necessário mínimo de 20 caracteres" rows="5"></textarea>
                @if (TempData["DescricaoValidator"] != null)
                {<p class="text-danger" id="successMessage">@TempData["DescricaoValidator"]</p>}
            </div>
            <input type="submit" class="btn btn-outline-success" name="button" value="Marcar Consulta" />
        </form>
    </div>
</div>

