@model FormularioViewModel

@functions {
public string GetDateLocal()
{
    var date = Model.DataConsulta;
    DateTime convertedDate = Convert.ToDateTime(date);
    return convertedDate.ToLongDateString();
}
}

<div class="text-center">
    <div class="pt-md-2 pb-md-2 mx-auto">
        <h1 class="display-4">Horários disponíveis</h1>
    </div>
    <div class="lead">
        Preecha o formulário abaixo para marcar sua consulta
    </div>
</div>

<hr />

<div class="text-center">
    <p>
        Veterinário: @Model.Veterinario.VetNome - @Model.Veterinario.VetFuncao<br />
        Data: @GetDateLocal()
    </p>
</div>


<div class="row loginForm">
    <div class="col-sm-6 offset-sm-3">
        <form asp-controller="Consulta" asp-action="Formulario" onsubmit="button.disabled = true; return true;">
            <input asp-for="DataConsulta" type="hidden" />
            <input asp-for="VeterinarioId" type="hidden" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Horário (Formato 24 horas)</label>
                    <select asp-for="HorarioEscolhido" class="form-control col-md-10">
                        @foreach (String horario in Model.HorariosFiltrados)
                        {
                            <option label="@horario">@horario</option>
                        }
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="offset-sm-2">Selecione o seu animal</label>
                    <select asp-for="AnimalId" class="form-control col-md-10 offset-sm-2">
                        @foreach (Animal animal in Model.Animais)
                        {
                            <option label="@animal.AnimalNome">@animal.AnimalId</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group text-center">
                <label>Descreva o problema</label>
                <textarea asp-for="DescricaoDoProblema" class="form-control" placeholder="Necessário mínimo de 20 caracteres" rows="6"></textarea>
                @if (TempData["descricaoValidator"] != null)
                {<p class="text-danger" id="successMessage">@TempData["descricaoValidator"]</p>}
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#confirmConsulta">
                    Marcar Consulta
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="confirmConsulta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmar consulta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            Tem certeza que deseja marcar consulta?<br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Voltar</button>
                            <input type="submit" class="btn btn-outline-success" name="button" value="Confirmar" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

